
.lang-flags {
    display: flex;
}

.lang-flag-link {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit; 
    cursor: pointer;
}

.lang-flag-link-selected {
    padding: 0;
    margin: 0;
    border: groove;
    background-color: transparent;
    color: inherit;
    font: inherit;
    cursor: pointer;
}