
.lang-flags {
    display: flex;
}

.lang-flag-link {
    padding: 1px;
    margin: 0px;
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

.lang-flag-link-selected {
    margin: 0px;
    border: 1px solid #000; /* 1px solid black border */
    padding: 0px; /* Optional: Add some padding */
    background-color: transparent;
    color: inherit;
    font: inherit;
    cursor: pointer;
}