@inherits LayoutComponentBase

@using Web.Data;
@using Backend.App.Config;
@using Backend.App.Config.Ent;
@using Backend.App.Labels;
@using Backend.App.Labels.Ent;

@inject ClientState clientState;
@inject NavigationManager navigation

<div>
    @if (_isLoading)
    {
        <Loading />
    }
    else
    {
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
        
                <div class="top-row px-4">
                    @if (!_isLoading)
                    {
                        <LanguageFlags 
                            OnClick="ChangeLanguage" 
                            CurrentLangCode="@clientState.appConfig.LangCode" 
                        />
                
                    }
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>

        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    }
</div>


@code {
    public bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await clientState.Initialise();
        _isLoading = false;
    }

    private async Task ChangeLanguage(string langCode)
    {
        if (clientState.appConfig.LangCode == langCode) return;

        await clientState.ChangeLanguage(langCode);
        StateHasChanged();

        //Not working
        //navigation.NavigateTo(navigation.Uri, forceLoad: true);
    }
  
}