@inherits LayoutComponentBase

@using Web.Data;
@using Backend.App.Config;
@using Backend.App.Config.Ent;
@using Backend.App.Labels;
@using Backend.App.Labels.Ent;

@inject ClientState clientState;
@inject NavigationManager navigation

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div>
    @if (_isLoading)
    {
        <Loading />
    }
    else
    {
         <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
        
                <div class="top-row px-1">
                    @if (!_isLoading)
                    {
                        <LanguageFlags 
                            OnClick="ChangeLanguage" 
                            selectedLangCodes="@clientState.appConfig.LangCode" 
                        />
                
                    }
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>

        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div> 

       @*  <MudLayout>
            <MudAppBar Elevation="1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                <MudText Typo="Typo.h5" Class="ml-3">Application</MudText>
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
            </MudAppBar>
            <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
                <NavMenu />
            </MudDrawer>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout> *@
    }
</div>


@code {
    public bool _isLoading = true;
    bool _drawerOpen = true;

    protected override async Task OnInitializedAsync()
    {
        await clientState.Initialise();
        _isLoading = false;
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private async Task ChangeLanguage(string langCode)
    {
        if (clientState.appConfig.LangCode == langCode) return;

        await clientState.ChangeLanguage(langCode);
        StateHasChanged();

        //Not working
        //navigation.NavigateTo(navigation.Uri, forceLoad: true);
    }
  
}