
@using Backend.App.Labels
@using Backend.App.Labels.Ent
@using Backend.App.Config
@using Backend.App.Config.Ent
@using Web.Components.Utils

@inherits BasePage
@inject LabelService LabelService
@inject ConfigService ConfigService

@if (_isLoading)
{
    <Loading />
}
else
{
    @IsNoLabel() @* force a label test*@

    <div>
        @if (_noKey)
        {
            <span style="color:red">
                @ShowLabel()
            </span>
        }
        else
        {
            @ShowLabel()
        }
    </div>
}

@code {
    private LabelManager? labels;
    private AppConfig? config;

    [Parameter]
    public string Key { get; set; }

    private bool _noKey = false;

    protected override async Task OnInitializedAsync()
    {
        Func<Task> lambda = async () => labels = await LabelService.GetLabelManager(null);
        await Run(lambda);

        lambda = async () => config = await ConfigService.GetAppConfig(null);
        await Run(lambda);

    }

    private string IsNoLabel()
    {
        _noKey = false;
        if (config.IsLabelLink)
        {
            if (!labels.IsLabel(Key))
                _noKey = true;
        }
        return "";
    }

    private string ShowLabel()
    {
        if (labels == null || config == null)
            return "Loading...";

        return
            (_noKey ? "[" : "")
            + labels.GetLabel(Key)
            + (_noKey ? "]" : "")
            ;
    }

}
