@page "/app/language"

@inherits BasePage
@inject ClientState clientState;
@inject ILabelService labelService

@using Backend.App.Labels
@using Backend.App.Labels.Ent
@using Backend.App.Config
@using Backend.App.Config.Ent
@using Web.Data;
@using Web.Components.Layout

<h3>Language</h3>

@if (labels == null)
{
    <Loading />
}
else{
    <LanguageFlags 
        OnClick="ChangeLanguage"
        CurrentLangCode="@currentLangCode" />

    <table class="table">
        <thead>
            <tr>
                <th><Label Key="langCode" /></th>
                <th>Org</th>
                <th>Code</th>
                <th>Label</th>
                <th>ToolTip</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var label in labels)
            {
            <tr>
                    <td>@label.LangCode</td>
                    <td>@label._OrgId</td>
                    <td>@label.Code</td>
                    <td><InputText id="description" @bind-Value="label.Description" /></td>
                    <td><InputText id="tooltip" @bind-Value="label.Tooltip" /></td>
                    <td>
                        <button @onclick="() => Update(label)">Save</button>
                    </td>
            </tr>
            }
        </tbody>
    </table>
    
}


@code {
    private List<Backend.App.Labels.Ent.Label>? labels;
    private string currentLangCode = "";

    protected override async Task OnInitializedAsync()
    {
        currentLangCode = clientState.appConfig.LangCode;
        Func<Task> lambda = async () => labels = await labelService.GetLabels(currentLangCode);
        await Run(lambda);
    }

    private async Task ChangeLanguage(string langCode)
    {
        if (langCode == currentLangCode) return;
        currentLangCode = langCode;

        Func<Task> lambda = async () => labels = await labelService.GetLabels(currentLangCode);
        await Run(lambda);
    }

    //ToDo
    private void Update(Backend.App.Labels.Ent.Label label)
    {
        if (label.LangCode == clientState.appConfig.LangCode) 
            clientState.labelMgr.UpdateLabel(label);
        
    }
}
