@page "/test"

@using Web.Components.Utils
@inject IDialogService DialogService

<PageTitle>TEST</PageTitle>


<br />
<MudText Typo="Typo.h5" GutterBottom="true">
    <Label Key="Active"/>
</MudText>
<br />
<Label Key="Yes" />
<br />
<Label Key="No" />
<br />
<Label Key="test" />
<br />
<Label Key="Fix.10" />
<br />
<Label Key="Machine" />
<br />
<Label Key="PassReqInc" />
<br />
<Label Key="ImportBOMd" />
<br />
<Label Key="AppPropR" />
<br />
<Label Key="CantSave" />

<br />
<MudButton 
    class="btn btn-primary" 
    Color="Color.Primary" 
    Variant="Variant.Filled"
    @onclick="OpenDialog">Open ModalX</MudButton>


<!--
<LabelDialog ShowDialog="@showModal" Title="My Modal">
    <p>This is the content of the modal dialog.</p>
</LabelDialog>
-->

<MudButton @onclick="OpenDialogAsync" Variant="Variant.Outlined" Color="Color.Primary">
    Open Mud Dialog
</MudButton>


@code {
    private bool showModal = false;

    private void OpenDialog()
    {
        showModal = true;
    }

    private Task OpenDialogAsync()
    {
        var parameters = new DialogParameters ()
            {
                {"Title", "this is a title" },
                {"Content", "here is the content" }
            };

        var options = new DialogOptions { 
            Position = DialogPosition.TopCenter,
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
        };

        return DialogService.ShowAsync<Dialog>("Simple Dialog", parameters, options);
    }
}
