@page "/test"
@rendermode InteractiveServer

@using Web.Components.Utils

<PageTitle>TEST</PageTitle>


<br />
<Label Key="123"/>
<br />
<Label Key="124" />
<br />
<Label Key="Org" />

<br />
<button class="btn btn-primary" @onclick="OpenDialog">Open ModalX</button>



<LabelDialog ShowDialog="@showModal" Title="My Modal">
    <p>This is the content of the modal dialog.</p>
</LabelDialog>


@code {
    private bool showModal = false;

    private void OpenDialog()
    {
        showModal = true;
    }
}
