@page "/mouldgroups"
@inherits BasePage

@using Frontend.Pages._App
@using Backend.Modules.Moulds;
@using Backend.Modules.Moulds.Ent
@inject MouldService MouldService

<AppTitle title="Mould Groups" PageCode="mg01">
</AppTitle>

@if (_isLoading)
{
    <Loading/>
}
else @if (_isError)
{
    <AppError Message="@exception.Message">
        @exception
    </AppError>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grp in groups)
            {
                <tr>
                    <td>@grp.Code</td>
                    <td>@grp.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MouldGroup>? groups;

    protected override async Task OnInitializedAsync()
    {
        Func<Task> lambda = async () => groups = await MouldService.GetMouldGroups();
        await Run(lambda);
    }
}
